@model Vidly.Models.Movie

@{
    ViewBag.Title = "Movies Details";
    
}

<h2>@Model.Name</h2>

<ul>
    <li>Movie:  @Model.Name</li>
    <li>Genre:  @Model.GenreType.Name</li>
    <li>ReleaseDate:  @Model.ReleaseDate.ToShortDateString()</li>
    <li>Numeber in stock:  @Model.NumberInStock</li>

    
</ul>


